In [64]:
import geopandas as gpd
import pandas as pd
from pandas.io.json import json_normalize
import cartopy.crs as ccrs
import cartopy.feature as cf
import matplotlib.pyplot as plt
from datetime import datetime

from shapely import geometry

import json 

%matplotlib inline

In [ ]:
date.fromtimestamp()

# 2019 Location History – Google

In [17]:
%%bash 
cat 2019_*.json | jq '.timelineObjects[] | if .placeVisit then {type: "placevisit", location: {latE7: .placeVisit.centerLatE7, lonE7: .placeVisit.centerLngE7}, duration: .placeVisit.duration} else {type: "move", location: .activitySegment.waypointPath.waypoints, duration: .activitySegment.duration} end'  > combined.json

cat: 2019_*.json: No such file or directory

In [59]:
data = json_normalize(json.load(open("Location History/Semantic Location History/2019/combined.json")))

In [60]:
data['duration.endTimestampMs'] = [datetime.fromtimestamp(int(d) // 1000) for d in data['duration.endTimestampMs'].values]
data['duration.startTimestampMs'] = [datetime.fromtimestamp(int(d) // 1000) for d in data['duration.startTimestampMs'].values]

In [61]:
data.head()

,duration.endTimestampMs,duration.startTimestampMs,location,location.latE7,location.lonE7,type
0,2019-03-31 22:10:35,2019-03-31 20:12:37,"[{'latE7': 476625556, 'lngE7': -1223608627}, {...",NaN,NaN,move
1,2019-03-31 22:39:43,2019-03-31 22:10:35,NaN,476239200.0,-1.223015e+09,placevisit
2,2019-03-31 22:46:39,2019-03-31 22:39:43,"[{'latE7': 476243934, 'lngE7': -1223012008}, {...",NaN,NaN,move
3,2019-03-31 22:59:38,2019-03-31 22:46:39,NaN,475998500.0,-1.223010e+09,placevisit
4,2019-04-01 10:26:40,2019-03-31 22:59:38,"[{'latE7': 476002464, 'lngE7': -1222998657}, {...",NaN,NaN,move

In [98]:
pointlocs = data[data.type == 'placevisit']
pointlocs
lat_lon = zip(data['location.latE7'], data['location.lonE7']))

,duration.endTimestampMs,duration.startTimestampMs,location,location.latE7,location.lonE7,type
1,2019-03-31 22:39:43,2019-03-31 22:10:35,NaN,476239200.0,-1.223015e+09,placevisit
3,2019-03-31 22:59:38,2019-03-31 22:46:39,NaN,475998500.0,-1.223010e+09,placevisit
5,2019-04-01 12:36:33,2019-04-01 10:26:40,NaN,476637963.0,-1.223605e+09,placevisit
7,2019-04-01 12:56:28,2019-04-01 12:43:43,NaN,476625300.0,-1.223735e+09,placevisit
9,2019-04-01 15:08:06,2019-04-01 14:02:10,NaN,476533300.0,-1.223110e+09,placevisit
11,2019-04-01 20:00:43,2019-04-01 15:11:51,NaN,476518050.0,-1.223093e+09,placevisit
13,2019-04-02 10:15:11,2019-04-01 20:21:12,NaN,476639200.0,-1.223606e+09,placevisit
15,2019-04-02 12:24:17,2019-04-02 10:56:17,NaN,476576456.0,-1.223126e+09,placevisit
17,2019-04-02 17:45:59,2019-04-02 12:50:00,NaN,476522667.0,-1.223098e+09,placevisit
19,2019-04-02 20:02:33,2019-04-02 18:18:27,NaN,476523140.0,-1.223099e+09,placevisit
21,2019-04-02 20:37:48,2019-04-02 20:31:39,NaN,476505400.0,-1.223119e+09,placevisit
23,2019-04-02 21:46:49,2019-04-02 21:07:37,NaN,476638683.0,-1.223606e+09,placevisit
25,2019-04-03 10:47:40,2019-04-03 00:06:16,NaN,476638050.0,-1.223607e+09,placevisit
27,2019-04-03 15:53:47,2019-04-03 11:06:54,NaN,476537841.0,-1.223108e+09,placevisit
29,2019-04-03 18:07:07,2019-04-03 16:02:21,NaN,476518667.0,-1.223048e+09,placevisit
31,2019-04-03 19:53:26,2019-04-03 19:32:25,NaN,476611825.0,-1.223130e+09,placevisit
33,2019-04-03 23:36:19,2019-04-03 20:19:54,NaN,476205080.0,-1.223302e+09,placevisit
35,2019-04-04 00:39:03,2019-04-03 23:39:55,NaN,476224133.0,-1.223297e+09,placevisit
37,2019-04-04 09:51:58,2019-04-04 00:53:45,NaN,476636667.0,-1.223605e+09,placevisit
39,2019-04-04 17:40:43,2019-04-04 14:47:14,NaN,476523075.0,-1.223099e+09,placevisit
41,2019-04-04 18:09:19,2019-04-04 17:41:40,NaN,476544250.0,-1.223089e+09,placevisit
43,2019-04-04 19:37:06,2019-04-04 18:18:43,NaN,476521750.0,-1.223107e+09,placevisit
45,2019-04-04 22:00:01,2019-04-04 20:38:05,NaN,476687150.0,-1.223645e+09,placevisit
47,2019-04-04 22:23:05,2019-04-04 22:05:10,NaN,476604033.0,-1.223690e+09,placevisit
49,2019-04-04 23:58:00,2019-04-04 23:02:02,NaN,476655200.0,-1.223820e+09,placevisit
51,2019-04-05 10:13:37,2019-04-05 00:11:42,NaN,476636350.0,-1.223607e+09,placevisit
54,2019-04-05 12:08:04,2019-04-05 11:19:09,NaN,476521183.0,-1.223097e+09,placevisit
56,2019-04-05 13:25:15,2019-04-05 12:26:15,NaN,NaN,NaN,placevisit
58,2019-04-05 13:50:50,2019-04-05 13:29:39,NaN,476639833.0,-1.223602e+09,placevisit
60,2019-04-05 15:29:25,2019-04-05 13:57:53,NaN,476674600.0,-1.223513e+09,placevisit
...,...,...,...,...,...,...
3912,2019-09-20 19:29:10,2019-09-20 18:31:37,NaN,391881500.0,-1.068192e+09,placevisit
3914,2019-09-21 00:54:07,2019-09-20 19:48:07,NaN,391947900.0,-1.068208e+09,placevisit
3916,2019-09-21 11:21:17,2019-09-21 01:15:03,NaN,391420967.0,-1.067727e+09,placevisit
3918,2019-09-21 11:43:06,2019-09-21 11:38:04,NaN,391861000.0,-1.068151e+09,placevisit
3920,2019-09-21 12:51:36,2019-09-21 11:47:51,NaN,391887729.0,-1.068182e+09,placevisit
3922,2019-09-22 13:57:01,2019-09-22 12:18:06,NaN,393912400.0,-1.071107e+09,placevisit
3924,2019-09-22 18:46:58,2019-09-22 18:35:45,NaN,385660450.0,-1.095502e+09,placevisit
3926,2019-09-25 20:12:55,2019-09-25 19:50:16,NaN,383746550.0,-1.107087e+09,placevisit
3928,2019-09-26 10:23:01,2019-09-26 10:20:25,NaN,402514400.0,-1.116618e+09,placevisit
3930,2019-09-26 10:54:08,2019-09-26 10:45:21,NaN,403630667.0,-1.117850e+09,placevisit
3932,2019-09-27 11:04:46,2019-09-27 03:02:21,NaN,476638062.0,-1.223606e+09,placevisit
3934,2019-09-27 11:35:29,2019-09-27 11:12:45,NaN,476498167.0,-1.223507e+09,placevisit
3936,2019-09-27 15:28:54,2019-09-27 11:44:39,NaN,476521067.0,-1.223095e+09,placevisit
3938,2019-09-27 16:47:48,2019-09-27 15:31:41,NaN,476518533.0,-1.223047e+09,placevisit
3940,2019-09-27 19:16:36,2019-09-27 17:06:30,NaN,476634550.0,-1.223605e+09,placevisit
3942,2019-09-27 20:02:27,2019-09-27 19:21:37,NaN,476631700.0,-1.223748e+09,placevisit
3944,2019-09-27 20:16:19,2019-09-27 20:03:41,NaN,476669400.0,-1.223761e+09,placevisit
3946,2019-09-27 21:21:40,2019-09-27 21:13:09,NaN,476683675.0,-1.222992e+09,placevisit
3948,2019-09-27 22:47:22,2019-09-27 22:35:51,NaN,476667725.0,-1.222893e+09,placevisit
3950,2019-09-28 10:48:12,2019-09-28 10:41:19,NaN,476622800.0,-1.222994e+09,placevisit
3952,2019-09-28 11:12:18,2019-09-28 10:54:48,NaN,476204100.0,-1.223303e+09,placevisit
3954,2019-09-28 15:32:48,2019-09-28 11:27:44,NaN,476612197.0,-1.224148e+09,placevisit
3957,2019-09-28 16:29:16,2019-09-28 16:15:00,NaN,476205667.0,-1.223305e+09,placevisit
3959,2019-09-28 23:12:04,2019-09-28 18:02:01,NaN,476639180.0,-1.223604e+09,placevisit
3961,2019-09-29 02:44:29,2019-09-28 23:27:55,NaN,476090650.0,-1.223397e+09,placevisit
3963,2019-09-29 02:59:19,2019-09-29 02:53:09,NaN,476128650.0,-1.223365e+09,placevisit
3965,2019-09-29 14:58:01,2019-09-29 13:58:12,NaN,477760283.0,-1.223443e+09,placevisit
3967,2019-09-29 15:40:50,2019-09-29 15:22:00,NaN,476592200.0,-1.223678e+09,placevisit
3969,2019-09-30 11:41:33,2019-09-29 15:46:10,NaN,476638750.0,-1.223606e+09,placevisit
3971,2019-09-30 19:59:36,2019-09-30 12:07:43,NaN,476520950.0,-1.223100e+09,placevisit

In [87]:
def convert_location_list(loclist):
    ret = []
    for loc in loclist:
        ret.append({
            k.replace("E7", ""): v / 10**7
            for k, v in loc.items()
        })
#     return ret
    return geometry.LineString([geometry.Point(i['lng'], i['lat']) for i in ret])
        
def convert_point(point):
    return geometry.Point(point[1] // 10**7, point[0] // 10**7)

In [85]:
data['location'] = []

ValueError: Length of values does not match length of index

In [86]:
convert_location_list(data.location.iloc[0])

In [76]:
data.location.iloc[0][0].items()

dict_items([('latE7', 476625556), ('lngE7', -1223608627)])

In [89]:
convert_point((data['location.latE7'])

AttributeError: 'Series' object has no attribute 'latE7'